<!-- Add your existing HTML code here -->
<div class="container">
    <h5>Search User By Name</h5>
    <input type="text" [(ngModel)]="userName" class="form-control">
    <button class="btn btn-primary mt-3" (click)="searchUser()">Search</button>
  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>User ID</th>
          <th>User Name</th>
          <th>User Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.userId }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.email }}</td>
          <td>
            <!-- Toggle switch -->
            <div class="toggle-container" (click)="toggleBlockUser(user)">
                <div class="toggle-slider" [ngClass]="{'toggle-active': user.userStatus === 'Blocked'}">
                    <div class="toggle-circle"></div>
                </div>
            </div>
            <!-- Display current status -->
            <span>{{ user.userStatus }}</span>
        </td>
        
        </tr>
      </tbody>
    </table>
  </div>
  