<div class="container">
    <h3>All Categories</h3> <br>
    <div class="row">
        <div class="col-md-4" *ngFor="let item of categories">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{item.categoryName}}</h5>
                    <div class="card-text-scroll">
                        <div class="card-text">{{item.description}}</div>
                    </div>
                    <div *ngIf="userRole=='Admin'">
                        <button class="btn btn-primary" (click)="delete(item.categoryId)">Delete</button>
                        <button class="btn btn-primary" (click)="edit(item.categoryId)">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
