.tile {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    overflow-x: auto;
   
  }.custom-scroll-area {
    overflow-y: auto;
    max-height: 600px; /* Set a max height if needed */
  }
 
  .tile-content {
    margin-bottom: 10px;
  }
 
  .tile-content p {
    margin: 5px 0;
  }
 
  .tile-actions button {
    margin-right: 10px;
  }
 
  /* Adjustments for small screens */
  @media (max-width: 767px) {
    .col-md-6 {
      width: 100%;
    }
    .card-text-scroll {
      max-height: 100px; /* Adjust the height as needed */
      overflow-y: auto;
  }
  
  }